---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import WhatWeDo from '../components/WhatWeDo.astro';
import WhoWeHelp from '../components/WhoWeHelp.astro';
import HowItWorks from '../components/HowItWorks.astro';
import About from '../components/About.astro';
import Waitlist from '../components/Waitlist.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <WhatWeDo />
    <WhoWeHelp />
    <HowItWorks />
    <About />
    <Waitlist />
  </main>
  <Footer />
</Layout>
